.homepage {
    text-align: center;
}

h2 {
    padding-top: 2%;
    color: #ADD9F4;
    text-align: center;
    font-size: 70px;
}

h4 {
    padding-top: 3%;
    color: #ADD9F4;
    text-align: center;
    font-size: 30px;

}

p {
    padding-top: 1%;
    color: #ADD9F4;
    text-align: center;
    font-size: 18px;
    padding-bottom: 1%;
}


.home-form{
    padding-top: 3%;
    padding-bottom: 5%;
    display: inline-block;
}

